version: '3.8'
services:
  db:
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: ${PG_USERNAME}
      POSTGRES_PASSWORD: ${PG_PASSWORD}
      POSTGRES_DB: ${PG_DB}
    ports:
      - "5433:5433"
#    healthcheck:
#      test: [ "CMD", "pg_isready", "-U", "$${PG_USERNAME}", "-d", "$${PG_DB}" ]
#      interval: 10s
#      timeout: 5s
#      retries: 5
    volumes:
      - db_data:/var/lib/postgresql/data_bank

  app:
    build: .
#    depends_on:
#      db:
#        condition: service_healthy
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://${PG_HOST}:${PG_PORT}/${PG_DB}
      SPRING_DATASOURCE_USERNAME: ${PG_USERNAME}
      SPRING_DATASOURCE_PASSWORD: ${PG_PASSWORD}
      JWT_SECRET: ${JWT_SECRET}

  adminer:
    image: adminer
    restart: always
    ports:
      - 8081:8080

volumes:
  db_data: