# Здесь будет OpenAPI описание всех доступных эндпоинтов и моделей данных.
openapi: 3.1.0
info:
  title: 'Application API: bank-rest'
  description: API for bank-rest.
  license:
    name: Apache 2.0
    url: http://springdoc.org
  version: 0.0.1-alpha
servers:
  - url: /api
    description: Current service
paths:
  /api/users:
    put:
      tags:
        - user-controller
      operationId: updateUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserDto'
  /auth/sign-up:
    post:
      tags:
        - Authentication
      summary: Sign up a new user
      operationId: signUp
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignUpRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtAuthenticationResponse'
  /auth/sign-in:
    post:
      tags:
        - Authentication
      summary: Sign in an existing user
      operationId: signIn
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignInRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/JwtAuthenticationResponse'
  /api/users/register:
    post:
      tags:
        - user-controller
      operationId: register
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserDto'
        required: true
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserDto'
  /api/users/{id}:
    get:
      tags:
        - user-controller
      operationId: getById
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserDto'
    delete:
      tags:
        - user-controller
      operationId: deleteUser
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
  /api/users/me:
    get:
      tags:
        - user-controller
      operationId: getCurrentUser
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UserDto'
components:
  schemas:
    UserDto:
      type: object
      properties:
        id:
          type: integer
          format: int64
        username:
          type: string
        email:
          type: string
    SignUpRequest:
      type: object
      description: Sign Up Request DTO
      properties:
        username:
          type: string
          description: Username
          example: Alex123
          maxLength: 50
          minLength: 5
        email:
          type: string
          format: email
          description: Email
          example: Alex123@gmail.com
          maxLength: 255
          minLength: 5
        password:
          type: string
          description: Password
          example: my_1secret1_password
          maxLength: 255
          minLength: 0
      required:
        - email
        - username
    JwtAuthenticationResponse:
      type: object
      description: Respond with JWT token
      properties:
        token:
          type: string
          description: JWT Access token
          example: eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJhZG1pbiIsImV4cCI6MTYyMjUwNj...
    SignInRequest:
      type: object
      description: Request for user login
      properties:
        username:
          type: string
          description: Username
          example: Alex123
          maxLength: 50
          minLength: 5
        password:
          type: string
          description: Password
          example: my_1secret1_password
          maxLength: 255
          minLength: 8
      required:
        - password
        - username
    CreateUserDto:
      type: object
      properties:
        username:
          type: string
          maxLength: 30
          minLength: 3
        email:
          type: string
          format: email
          minLength: 1
        password:
          type: string
          maxLength: 2147483647
          minLength: 6
      required:
        - email
        - password
        - username
